---
layout: default
---

<h1>{{ page.name }}</h1>

{{ content }}

<h2>Presentaciones en este evento</h2>
<ul>
  {% assign filtered_posts = site.presentaciones | where: 'eventcode', page.code %}
  {% for post in filtered_posts %}
    <li><a href="../presentacion/{{ post.code }}.html">{{ post.name }}</a></li>
  {% endfor %}
</ul>

<!--//
<h2>Publicaciones relacionadas con este evento</h2>
<ul>
  {% assign filtered_posts = site.publicaciones | where: 'eventcode', page.code %}
  {% for post in filtered_posts %}
    <li><a href="../publicacion/{{ post.code }}.html">{{ post.name }}</a></li>
  {% endfor %}
</ul>


  //-->

<h2>Un poco más...</h2>

Mis impresiones sobre <a href="../lugares/{{ page.lugar }}.html">{{ page.lugar }}</a>.
