---
layout: default
---

<h1>{{ page.name }}</h1>
<h4> {{ page.lugar }} {{page.fini}} {{page.ffin}}</h4>

{{ content }}

<h2>Presentaciones en este evento</h2>
<ul>
  {% assign filtered_posts = site.presentaciones | where: 'eventcode', page.code %}
  {% for post in filtered_posts %}
    <li><a href="../EFGs/{{ post.code }}.html">{{ post.name }}</a></li>
  {% endfor %}
</ul>

Eventos científicos de caracter nacional en Venezuela

https://revistamipensamiento.files.wordpress.com/2015/10/libro-de-resumenes-x-cve-final.pdf
XIV Jornadas Científico Técnicas de la Facultad de Agronomía de LUZ. Maracaibo, 14-17 octubre 2014
XXI Congreso Venezolano de Botánica. Caracas, Venezuela, 12-16 mayo 2015.
IV Congreso Venezolano y V Jornadas Nacionales de Investigación Estudiantil I Expo-REDIELUZ. Maracaibo, 19-21 octubre 2015.
Eventos científicos de caracter nacional fuera de Venezuela
Conference of the Lepidopterist Society of South Africa. South Africa, 2012.
«Science Day» at Kirstenbosch Research Centre (KRC), South African National Biodiversity Institute. Cape Town, South Africa, 2012.
