---
layout: default
---

<h1>{{ page.name }}</h1>
<h4> {{ page.lugar }} {{page.fini}} {{page.ffin}}</h4>

{{ content }}

<h2>Presentaciones en este evento</h2>
<ul>
  {% assign filtered_posts = site.presentaciones | where: 'eventcode', page.code %}
  {% for post in filtered_posts %}
    <li><a href="../EFGs/{{ post.code }}.html">{{ post.name }}</a></li>
  {% endfor %}
</ul>


Eventos científicos de caracter internacional
Primer Congreso Mundial de Páramos. Paipa, Colombia, Mayo 2002.
Memorias: [Tomo I] [Tomo II]
GART/GloBIS Workshop. Butterfly taxonomy on the internet, issues and challenges of a global, web-based, taxonomic information system. Stuttgart, Germany, 21-23 May 2003.  [Workshop program and presentations]
Student Conference on Conservation Science. Cambridge, UK, 2005.
[About the conference] [Current Conference]
Workshop: Predictive modelling of Species distribution. New Tools for the XXI Century. Universidad Internacional de Andalucía. Baeza, España, 2-4 Noviembre 2005. [Publication from the workshop]
First Diversitas Open Science Conference. Oaxaca, México, 9-12 Noviembre 2005.
II Encuentro Sobre Lepidoptera Neogropical, ELEN II. Smithsonian Tropical Research Institute. Panamá, Panamá, 2007.
Segundo simposio internacional sobre el oso andino. Lima, Perú, 10-12 Noviembre 2008. [Anuncio del simposio]
Workshop on Theoretical Ecology and Global Change. Trieste, Italy 2009. [Program and materials of the workshop]
4th Tropical Ecology Assessment and Monitoring Network (TEAM) Meeting. Dar es Salaam, Tanzania, 2-9 April 2011. [Team Newsletter]
7th International Conference on the Biology of Butterflies. Turku, Finland, 11-14 August 2014. [Conference web page] [Conference report]
European Conference of Tropical Ecology. Tropical Diversity, Ecology and Land Use. Göttingen, Germany, 23-26 february 2016.
28th International Congress for Conservation Biology. Cartagena, Colombia, 23-27 Julio 2017. [Conference program]
First Latin American and Caribbean Congress for Conservation Biology. St. Augustine, Trinidad & Tobago, 2018. [Conference web page]
Eventos científicos de caracter nacional en Venezuela
V Congreso Venezolano de Ecologia. Margarita, Noviembre 2003 http://www.sve.ula.ve/pdfs/boletin1.pdf
XIX Congreso Venezolano de Entomología, San Felipe, 4-7 julio 2005
http://saber.ucv.ve/ojs/index.php/rev_ento/article/view/7528/7451
VII Congreso Venezolano de Ecología. Ciudad Guayana, 5-9 Noviembre 2007
https://www.fundacionlasalle.org.ve/videos/VII%20CONGRESO%20VENEZOLANO%20DE%20ECOLOG%C3%8DA
https://www.scribd.com/doc/97136202/Vii-Congreso-de-Ecologia
XL Aniversario del Centro de Ecología: Investigación Científica, Diversidad Biológica y Sociedad, Instituto Venezolano de Investigaciones Científicas. Caracas, 7-10 diciembre 2010.
XXIII Congreso Venezolano de Entomología “Dr. José Ramón Labrador”, Maracaibo, 9-12 julio 2013.
http://saber.ucv.ve/ojs/index.php/rev_ento/article/view/7291/7028
X Congreso Venezolano de Ecología. Mérida, 18-22 noviembre 2013
https://revistamipensamiento.files.wordpress.com/2015/10/libro-de-resumenes-x-cve-final.pdf
V Congreso Venezolano de Diversidad Biológica. Maracaibo, 21-26 julio 2014
https://issuu.com/ejercito.comunicacional/docs/resumenes_pantalla_v5
XIV Jornadas Científico Técnicas de la Facultad de Agronomía de LUZ. Maracaibo, 14-17 octubre 2014
XXI Congreso Venezolano de Botánica. Caracas, Venezuela, 12-16 mayo 2015.
IV Congreso Venezolano y V Jornadas Nacionales de Investigación Estudiantil I Expo-REDIELUZ. Maracaibo, 19-21 octubre 2015.
XI Congreso Venezolano de Ecología. Margarita, 9-13 noviembre 2015
http://www.ucv.ve/fileadmin/user_upload/cenamb/Programa_XI_CVE_9-13Nov2015-1.pdf
Eventos científicos de caracter nacional fuera de Venezuela
Conference of the Lepidopterist Society of South Africa. South Africa, 2012.
«Science Day» at Kirstenbosch Research Centre (KRC), South African National Biodiversity Institute. Cape Town, South Africa, 2012.
IUCN Training Workshop on Species and Ecosystems Red Lists for Abu Dhabi Emirate. Abu Dhabi, United Arab Emirates, February 2018.
V Congreso Colombiano de Zoología. Bogotá, Colombia, Diciembre 2018. [Libro de resumenes]
